.search_container {
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
    flex-direction: column;
}

.input_container input {

    width: 100%;
    padding: 8px;
}

.main-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.card {
    border: 1px solid red;
    background-color: rgb(182, 255, 231);
    width: 50%;
    margin: 12px;
    border-radius: 12px;
    padding: 12px;
}

.item {
    margin: 12px;
}

.single_card {
    z-index: 5;
    position: absolute;
    top: 40vh;
    width: 50%;
    height: 30%;
    left: 24%;
    border: 1px solid red;
    background-color: rgb(145, 255, 56);
    margin: 12px;
    border-radius: 12px;
    padding: 12px;
    box-shadow: 1px 1px 12.5px -1px;
    
}